/*seccion header */
header,#cintillo{
    border-bottom: black solid 2px;
    }
img{
    height: 26px;
}
nav{
    display: flex;
    justify-content: space-between;
}
div{
    padding: 15px 8px;
}
ul{
    list-style: none;
    display: flex;
    align-items: end;
}
a{
    text-decoration: none!important;
    color: chocolate!important;
}
li{
    padding: 0px 5px;
}
h2{
    display: flex;
    justify-content: center;
    color: #cc1d2d;
}
/*seccion de home*/
.card{
    background-color: #f9f7f8;
    border: black 1px solid
}